

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 20px;
}

.lupa {
  list-style: none;
}

.lupa::marker {
  content: "🔍 ";
}


.pokemonImg img {
  width: 200px;
  height: 200px;
}

.pokemonImg img:hover {
    transform: scale(1.1);
}

.evolucao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  text-decoration: none;
}

#test {
  text-decoration: none;
}